/*==============================================================
Styles by Roger Sullivan and Shonna Godoy at Keystone Resources
===============================================================*/
// background: url('/assets/img/elements/bg_gray_95x90.png');
//  .at2x('../img/elements/bg_gray_95x90.png', 95px, 90px);


body{
  overflow-x: hidden;
  background-color: blue;
} 




//Mobile Drawer -------------------
#content_container {
  background-color: white;
  &.active{
    backface-visibility:hidden;
    -webkit-backface-visibility:hidden;
    -moz-backface-visibility:hidden;
    -ms-backface-visibility:hidden;
    position: relative;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 2;
    overflow-y: visible;
    -webkit-overflow-scrolling: touch;
    height: 100%;
    -webkit-transform: translate3d(0, 0, 0);
       -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
         -o-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);

  }
  &.open-left{
    position: absolute;
    border-left: 1px solid gray;
    overflow-x: hidden;
    height: 100%;
    -webkit-overflow-scrolling: touch;
    -webkit-transform: translate3d(0, 0, 0);
       -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
         -o-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
  &.overflowx{
    overflow-x: hidden;
  }
}

.snap-drawers{
  display: none;
  background: white;
  position: absolute;
  overflow: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: auto;
  height: 100%;
  .snap-drawer{
    background: white;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 200px;
    overflow: auto;
    height: 100%;
    -webkit-overflow-scrolling: touch;
    -webkit-transition: width 0.3s ease;
       -moz-transition: width 0.3s ease;
        -ms-transition: width 0.3s ease;
         -o-transition: width 0.3s ease;
            transition: width 0.3s ease;
    ul{
      padding: 0;
      margin: 0;
      list-style-type: none;
      li{
        &.active{
          //background-color: @gray-lighter;
          a{
            color: green;
          }
          ul li a{
            background-color: white;
            color: blue;
            &:hover,
            &:active{
              color: blue;
              //background-color: @gray-lighter;
            }
          }
          ul li.active a{
            color: green;
          }
        }
        ul{
          li{
            a{
              color: blue;
              padding-left: 30px;
              font-weight: normal;
            }
            &.active a{
              background-color: @gray-lighter;
              color: green;
            }
          }
        }
        a{
          color: blue;
          font-weight: bold;
          display: block;
          padding: 10px 15px;
          border-bottom: 1px solid @gray-light;
          &:hover,
          &:active{
            //background-color: @gray-lighter;
            color: blue;
            text-decoration: none;
          }
        }//a
      }//li
    }//ul
    &.snap-drawer-left{
      left: 0;
      z-index: 2;
      //border-right: 1px solid @gray-light;
    }
  }//snap_drawer
}//snap_drawers